@()(implicit flash: Flash)

<!DOCTYPE html>
<html>
<head>
	<title>Book Recommendator</title>
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/style.css")">
</head>
<body>
	<div class="wrapper">
		<header>
			<div class="brand">
				Book Recommendator
				<span>Where Interesting People Can Share Their Interests</span>
			</div>
		</header>
		<div class="hero"></div>
		<content>
			<main>
				<div class="section">
					<h3>Register</h3>
					<div class="actions">
						<form action="@routes.Users.register()" method="post">
							<fieldset>
								<legend>User Info</legend>
								<label for="user">Username</label>
								<input type="text" name="login" placeholder="Enter Your Username">
								<br>
								<br>
								<label for="password">Password</label>
								<input type="password" name="password" placeholder="Enter Your Password">
								<br>
								<br>
								<center>
									<input type="submit" value="Register">					
								</center>
							</fieldset>
						</form>
					</div>
				</div>
			</main>
		</content>
		<footer>
			&copy; 2017 Book Recommendator by Jakub Sobyra
		</footer>
	</div>
</body>
</html>