@import com.api.Events.UserCreated
@import com.api.Events.Recommendation

@(user: UserCreated, recommendations: List[Recommendation])(implicit flash: Flash)

@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default

@pageTemplate("Registered") {
    <h2>User on page</h2>
        <h3>@user.id</h3>
        <h4>@user.time</h4>

    @for(recommendation <- recommendations) {
        <h2>@recommendation.recommendationId.value</h2>
        <h1>@recommendation.book.bookId.value</h1>
    }

}





