@(title: String)(content: Html)(implicit flash: Flash)
<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/bootstrap.css")'>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
  </head>
  <body>
    <div class="screenshot">

      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="@routes.Application.index()">"Personal Media Collector</a>
            <ul class="nav">
              <li class="divider-vertical"></li>
              <li class="active"><a href="@routes.Users.loginForm()"><i class="icon-plus icon-white"></i>
                Login</a></li>
              <li class="divider-vertical"></li>
              <li class="active"><a href="@routes.Users.registerForm()"><i class="icon-plus icon-white"></i>
                Register</a></li>
              <li class="divider-vertical"></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container">
        @content
      </div>
    </div>
  </body>
</html>

